*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background:#ff7300;
}
.clock{
    width: 700px;
    height: 200px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@font-face{
    font-family:'digital-clock-font';
    src: url('digital-font/digital-7.ttf');
}
.clock div{
    position: relative;
    background-color: #ff7300;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Open Sans',sans-serif; */
    font-family:'digital-clock-font';
    font-size: 200px;
    color: #ffffff;
    /* border-radius: 5px; */
    /* box-shadow: 0 15px 30px rgba(0,0,0,0.3); */
    letter-spacing: 3px;
}
.clock span{
    font-weight: bolder;
    font-size: 200px;
    color: #ffffff;
}
#arkaplan{
    margin-left: 30%;
    margin-top: 5%;
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    float: left;
    margin-right: 5px;
}
#arkaplan:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}
#saat {
    margin-left: 15%;
    margin-top: 5%;
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
#saat:active{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}
#renk {
    margin-top: 6%;
    float: left;
}
#saatRenk{
    margin-top: 6%;
}
